@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #fafafa;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

button {
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.header {
  margin: 1.8rem;
}

@media (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav {
    background-color: #00000094;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .header .nav .nav-main-container {
    background-color: white;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5rem 3rem;
    -webkit-animation: from-left 0.5s;
            animation: from-left 0.5s;
  }
  .header .nav .nav-main-container .close {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
  }
  .header .nav .nav-main-container .main-nav-list {
    margin-bottom: 2.4rem;
  }
  .header .nav .nav-main-container .main-nav-list li {
    margin-bottom: 1.2rem;
    font-size: 18px;
    color: dimgray;
  }
  .header .nav .nav-main-container .main-nav-list li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.6rem;
  }
  .header .nav .nav-main-container .main-nav-list li div img {
    width: 10px;
    height: 6px;
  }
  .header .nav .nav-main-container .main-nav-list li ul {
    margin: 2rem 1rem;
    -webkit-animation: from-top 0.5s;
            animation: from-top 0.5s;
  }
  .header .nav .nav-main-container .main-nav-list li ul li {
    margin-bottom: 1rem;
  }
  .header .nav .nav-main-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
  }
  .header .nav .nav-main-container .buttons button {
    background-color: transparent;
    border: none;
    color: dimgray;
    font-size: 15px;
  }
  .header .nav .nav-main-container .buttons .register {
    border: 1px solid dimgray;
    border-radius: 1rem;
    padding: 0.8rem 2rem;
  }
}

@media (min-width: 769px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    width: 84px;
    height: 27px;
  }
  .header .menu {
    display: none;
  }
  .header nav {
    width: 90%;
    display: block;
  }
  .header nav .close {
    display: none;
  }
  .header nav .nav-main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .header nav .nav-main-container .main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header nav .nav-main-container .main-nav-list li {
    margin-right: 1.4rem;
    font-size: 19px;
    color: dimgray;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .header nav .nav-main-container .main-nav-list li:hover {
    color: black;
  }
  .header nav .nav-main-container .main-nav-list li div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.6rem;
  }
  .header nav .nav-main-container .main-nav-list li div img {
    width: 10px;
    height: 6px;
  }
  .header nav .nav-main-container .main-nav-list li ul {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 0px #6969693b;
            box-shadow: 0px 0px 20px 0px #6969693b;
    padding: 1rem;
    top: 170%;
    width: 160%;
    border-radius: 1rem;
    -webkit-animation: from-top 0.7s;
            animation: from-top 0.7s;
  }
  .header nav .nav-main-container .main-nav-list li ul.fetures {
    left: -5rem;
  }
  .header nav .nav-main-container .main-nav-list li ul li {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0.7rem;
  }
  .header nav .nav-main-container .main-nav-list li ul li img {
    margin-right: 0.7rem;
  }
  .header nav .nav-main-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
  }
  .header nav .nav-main-container .buttons button {
    background-color: transparent;
    border: none;
    color: dimgray;
    font-size: 18px;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    cursor: pointer;
  }
  .header nav .nav-main-container .buttons button:hover {
    color: black;
  }
  .header nav .nav-main-container .buttons .register {
    border: 1px solid dimgray;
    border-radius: 1rem;
    padding: 0.8rem 1.3rem;
  }
  .header nav .nav-main-container .buttons .register:hover {
    border: 1px solid black;
  }
}

@-webkit-keyframes from-left {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes from-left {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes from-top {
  0% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

main {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .sec-2 {
    width: 100%;
  }
  main .sec-2 img {
    width: 100%;
  }
  main .sec-1 {
    text-align: center;
    padding: 1rem 0;
  }
  main .sec-1 h1 {
    padding: 1rem;
    font-size: 32px;
  }
  main .sec-1 p {
    padding: 1rem;
    line-height: 1.3rem;
    color: dimgray;
  }
  main .sec-1 button {
    padding: 0.9rem 1.3rem;
    border-radius: 0.8rem;
    border: none;
    color: #fafafa;
    background-color: #141414;
    margin-bottom: 1rem;
  }
  main .sec-1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.2rem;
    margin-top: 1rem;
  }
  main .sec-1 .container img {
    width: 80px;
    height: 27px;
  }
}

@media (min-width: 769px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78%;
    margin: auto;
    margin-bottom: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .sec-1 {
    width: 50%;
    padding-top: 8rem;
  }
  main .sec-1 h1 {
    font-size: 50px;
    margin-bottom: 2rem;
  }
  main .sec-1 h1 span {
    display: block;
  }
  main .sec-1 p {
    width: 70%;
    color: dimgray;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  main .sec-1 button {
    padding: 0.9rem 1.3rem;
    border-radius: 0.8rem;
    border: none;
    color: #fafafa;
    background-color: #141414;
    margin-bottom: 5rem;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    cursor: pointer;
  }
  main .sec-1 button:hover {
    background-color: white;
    border: 1px solid #141414;
    color: #141414;
  }
  main .sec-1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    gap: 2rem;
  }
  main .sec-2 {
    width: 50%;
    height: 80vh;
    text-align: end;
  }
  main .sec-2 img {
    width: auto;
    height: 70vh;
  }
}

footer {
  background-color: white;
  text-align: center;
  padding: 1rem 0;
  -webkit-box-shadow: 0px -1px 20px -10px grey;
          box-shadow: 0px -1px 20px -10px grey;
  margin-top: auto;
  font-size: 12px;
}

footer a {
  color: dimgray;
  cursor: pointer;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

footer a:hover {
  color: #141414;
}

@media (min-width: 769px) {
  footer {
    font-size: 16px;
  }
}
/*# sourceMappingURL=index.css.map */